section {
    overflow: hidden;
}

.label {
    align-items: center;
    border-bottom: 2px solid #3f291b;
    display: flex;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    padding: 10px; 
    margin: 5px;
}

.label h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.label span {
    margin-top: -17px;
}

.label input[type="checkbox"] {
    display: none;
    opacity: 0;
    height: 0;
}

.showing, .hiding {
    transition: all 250ms ease-in;
}

.showing {
    transform: rotate(-45deg);
}

.options-ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: -5px;
}

.options-ul li {
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    color: #3f291b;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    min-height: 60px;
    border-bottom: 3px dotted #3f291b
}

.options-ul h5 {
    line-height: 20px;
}
