@font-face {
    font-family: cooper;
    src: url('../../assets/COOPBL.ttf');
}

h1 {
    color: #3f291b;
    font-family: cooper, 'serif';
    text-transform: uppercase;
    line-height: 30px;
}
  

#logo {
    margin-left: 90px;
}

.column {
    margin: 0 auto;
    justify-content: center;
}

.column img {
    text-align: center !important;
}

