
@charset "utf-8";

// Import a Google Font
@font-face
    font-family: "cooper";
    src: url('./assets/COOPBL.ttf');

// Set your brand colors
$bg-color: #efddc9;
$primary-color: #3f291b;
$secondary-color: #944919;

// Update Bulma's global variables
$family-sans-serif: 'cooper';
// $grey-dark: $brown;
// $grey-light: $beige-light;
//$link: $pink;
$primary: $primary-color;
$title-color: $primary-color;
$subtitle-color: $secondary-color;
$progress-value-background-color: $secondary-color;
$label-color: $primary-color;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $bg-color;
$footer-background-color: $bg-color;
$navbar-background-color: $bg-color;
$control-border-width: 2px;
$input-border-color: $primary-color;
$border: $primary-color;
$table-background-color: $bg-color;
$table-color: $primary-color;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

